@import "variables";

.layout_container {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .seat_layout {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    width: 100%;
    height: fit-content;
    .stops {
      flex-grow: 1;
    }
    .layout {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .point-name {
      font-weight: lighter;
      font-size: 1.1rem;
    }
    .point-direction {
      color: #868696;
      font-size: 0.7rem;
    }
  }
}
