.root-tours-container {
  display: grid;
  grid-template-columns: 3fr 8fr;
  gap: 20px;
  padding: 20px 50px;
  height: 100vh;
  box-sizing: border-box;
  .tours_container {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .root-tours-container {
    grid-template-columns: auto;
    gap: 5px;
  }
}
