.my-tooltip {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 30px;
    .material-icons {
        font-size: 0.9rem;
        padding: 0;
    }

    div {
        display: flex;
        align-items: center;
    }

    
    .vertical-line {
        color: lightgray;
    }
}