@import "variables";
.layout_container {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;

  .seat_details {
    display: flex;
    justify-content: space-between;

    > div:nth-child(2) {
      display: flex;
      gap: 10px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        span {
          font-size: 0.6rem;
        }
      }
    }
  }

  .price_filter_container {
    display: flex;
    gap: 10px;
  }

  .filter-button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #e53935;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    .material-icons {
      font-size: 0.9rem;
    }
  }

  .filter-button.selected {
    background-color: $brand;
    color: white;
  }

  .seat_layout {
    display: flex;
    // flex-wrap: wrap;
    margin-top: 20px;
    // align-items: center;
    .layout {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      min-width: 460px;
      .deck {
        border-radius: 10px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .deck-name {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 40px;
          // padding:  20px 0;
          svg {
            rotate: 270deg;
          }
          h3 {
            padding: 15px 0;
            rotate: -90deg;
            font-weight: lighter;
          }
        }
        .seats {
          .row {
            display: flex;
            justify-content: space-between;
            .seat {
              border: none;
              background-color: transparent;
              position: relative;
              cursor: pointer;

              .seat_number {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.6rem;
                color: black;
              }
            }
            .booked-male {
              rect {
                stroke: #52b2ff;
              }
            }
            .booked-female {
              rect {
                stroke: #fe98cc;
              }
            }
          }
          .row:nth-child(2) {
            margin-bottom: 25px;
          }
        }
      }
    }
    .stops {
      padding-top: 8px;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .stops_container {
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        > div:first-child {
          padding: 10px;
          border-bottom: 1px solid #f2f2f2;
          .search_bar {
            display: flex;
            span {
              color: #868686;
              font-size: 1.2rem;
            }
            input {
              color: #b0b0b0;
              border: none;
              font-size: 0.9rem;
              outline: none;
            }
          }
        }

        .point-list::-webkit-scrollbar {
          width: 4px;
        }

        .point-list::-webkit-scrollbar-track {
          background: #fcefef;
        }

        .point-list::-webkit-scrollbar-thumb {
          background-color: #ea8787;
          border-radius: 10px;
        }
        .point-list {
          margin-top: 10px;
          padding: 0 10px;
          overflow-y: scroll;
          height: 170px;

          .point {
            margin: 15px 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            // gap: 50px;
            .check {
              display: flex;
              align-items: start;
              gap: 10px;

              input {
                display: none;
              }
              .material-icons {
                color: #d1d1d1;
                font-weight: lighter;
                font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0,
                  "opsz" 40;
              }
              .material-icons:hover {
                color: $brand;
                cursor: pointer;
              }
            }

            .time {
              font-size: 0.9rem;
              white-space: nowrap;
              display: flex;
            }
          }
        }
      }
      .selected-point {
        padding: 10px;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div > p:first-child {
          color: #868696;
          font-size: 0.9rem;
        }
        .change-point {
          padding: 9px 15px;
          border: 1px solid $brand;
          border-radius: 8px;
          color: $brand;
          background-color: #ffffff;
          font-size: 0.9rem;
          cursor: pointer;
        }
      }

      .continue_booking {
        display: flex;
        flex-direction: column;
        gap: 10px;
        div {
          display: flex;
          justify-content: space-between;
          p {
            font-weight: lighter;
            font-size: 0.9rem;
          }
          span {
            color: $brand;
            font-weight: 700;
          }
        }
        button {
          padding: 10px;
          border: none;
          border-radius: 10px;
          font-size: 1.2rem;
        }

        .disabled {
          background-color: #d1d1d1;
          color: #bcb3b0;
          cursor: not-allowed;
        }
        .enabled {
          background-color: $brand;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .anabled:hover {
          background-color: rgb(161, 72, 71);
        }
      }
    }
    .point-name {
      font-weight: lighter;
      font-size: 1.1rem;
    }
    .point-direction {
      color: #868696;
      font-size: 0.7rem;
    }
  }
}
