.filters-container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 1px 1px 3px #e3e3e3;
  overflow-y: scroll;
  .section {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f4f4f4;
    .title {
      font-weight: 600;
      display: block;
      margin: 10px 0;
      color: #3d3d3d;
    }
    .boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      .box {
        .select-box {
          display: none;
          &:checked + label {
            color: #dc635b;
            outline: 1px solid #dc635b;
          }
        }
        label {
          color: #444444;
          font-size: 0.7rem;
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}

.filter-icon {
  justify-self: end;
  padding: 0 20px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background-color: #e3e3e3;
  cursor: pointer;
  margin-right: 10px;
}
